/*公用*/
.comWidth{
	width: 1000px;
	margin: 0 auto;
}

.headerBar{
	height: 150px;
	width: 100%;	
}
/*顶部*/
.topBar{
	height:32px;
	width: 100%;
    background: #f7f7f7;																				
}
.leftArea a,
.rightArea p{
	line-height: 32px;
	font-family: "宋体";
	
}
.leftArea a{
	font-size: 14px;
	font-weight: bold;
}
.leftArea i{
	margin-right: 4px;
}
.rightArea p{
    font-size: 12px;
    color: #656565;
}
/*LOGO*/
.logoBar{
	background: #1d7ad9;
	height: 84px;
	width: 100%;
}
.logo{
	margin-left: 32px;
	margin-top: 14px;
}
/*搜索*/
.searchBox{
	margin-top: 22px;
	margin-left: 184px;
	width: 430px;
	height: 36px;
}
.searchText{
	width: 360px;
	height:36px ;
	background: #fff;	
	
}
.searchButton{
	width: 70px;
	height: 36px;
	background: #ff8c00;
	cursor: pointer;
}
/*购物车*/
.shopCar{
	width: 144px;
	height: 20px;
	margin: 22px 0 0 32px;

}
.shopText{
	width: 70px;
	height: 20px;
	background: #FF8C00;
	border-right: #e58a00 solid 1px;
	padding: 8px;
	line-height: 24px;

}
.shopText a{
		color: #fff;
}
.shopText img{
	margin-right:6px;
}
.shopNum{
	width:26px;
	height:12px;
	color: #fff;
	background: #FF8C00;
	border-left: #fd8a00 solid 1px;
	padding: 12px 12px 12px 18px;
}
/*导航栏*/
.navBar{
	width: 100%;
	height: 33px;
	background: #1369c0;
	font-family: "微软雅黑";
}
.navContent li{
	float: left;
	line-height: 33px;
	padding:  0 34px;
	transition: all .4s ease; 
}
.navContent li:hover{
	background: #4694FA;
}
.navContent a{
	font-size: 14px;
	color: #fff;
	font-family: "宋体";
}
/*购物列表*/
.shopclass{
	width: 188px;
}
.shopclass h3{
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	line-height: 33px;
	text-align: center;
}
.shopclass i{
	width: 12px;
	height:8px;
	display: inline-block;
	margin: 10px 0 0 10px;
	background: url(../img/icon/down.jpg) no-repeat;	
}
.shopclass-show{
	width: 188px;
	height: 324px;
}
.shopclass-item{
	width: 160px;
	height: 35px;
	border-bottom: 1px solid #1369C0;
	border-top: 1px solid #8abcfe;
	padding: 14px;
	background-color: #4593fd;
}
.shopclass-item dt {
	background: url(../img/icon/shop_sj.jpg) right no-repeat;
}
.shopclass-item dt a{
	color: #fff;
	margin: 4px;
}
.shopclass-item dd a{
	color: #ddd;
	padding: 2px;
}
.shopclass .alink{
	color: #fff;
	width: 20px;
	padding: 2px 6px;
	background: url(../img/icon/aLink_bg.png) no-repeat;
}
/*shopClass-item active 状态*/
.shopclass-active{
	background-color:#FFF;
    border-left:#1369C0 solid 1px;
}
.shopclass-active dt{
	background:none;
} 
.shopclass-active dt a{
	color: #000;
}
.shopclass-active dd a{
	color: #000;
}
/*二级菜单*/
.shopclass-hide{
	width: 570px;
	height: 360px;
	padding: 18px;
	border: 1px #999 solid;
	position: relative;
	left: 173px;
	top: -114px;
	z-index:10;
	background: #fff;
	display: none;
}
.shopclass-hide .downline{
	display: inline-block;
	border-bottom: 1px solid #999;
	line-height: 20px;
}
.shopclass-hide h4{
	color: #4593fd;

}
.shop-hide-item{
	width: 450px;
    margin-left: 64px;
    padding: 10px 0;
}
.shop-hide-item ul li{
	display: inline-block;
	margin-right: 10px;
}
.shopclass-hide .button{
	width:94px;
	height: 26px;
	background: #2785e6;
	line-height: 26px;
	padding: 0 10px;
	font-size: 14px;
	color: #fff;
	margin-top: 20px;
	margin-right: 10px;
	display: inline-block;
}
.button input{
	color: #fff;
	padding: 4px;
}
/*轮换图*/
.banner{
	margin-left: 188px;
	width: 810px;
	overflow: hidden;
	position: absolute;
}
.banner-img{
    width: 2000px;
}
.banner-label{
	text-align: center;
	position: relative;
	top: 300px;
}
.banner-label a{
	display: inline-block;
	width: 20px;
	height: 5px;
	background: #fff;
}
.case{
	width: 20px;
	height: 324px;
}
/*商品标题*/

.shoptitle{
	height: 75px;
	line-height: 75px;
	font-family: "微软雅黑";
}
.shoptitle i{
	margin: 15px 14px 15px 0;
	width: 42px;
	height: 42px;
	float: left;
	background:url(../img/icon/shopIcon.jpg);	
}
.shoptitle span{
	margin-right: 15px;
}
/*商品信息*/
.leftarea{
   width: 68px;
   height: 400px;
   overflow: none;
   position: absolute;
}
.leftimg{
	width: 200px;
}
.leftimglabel{
	text-align: center;
	position: relative;
	top: 300px;
}
.rightarea{
   height: 396px;
   border: 1px solid #999;
   border-bottom: 3px solid #ff7201;
   margin-right: 4px
}
.rightarea ul li{
   width: 200px;
   height:268px;
   border-left: 1px solid #999;
   font-family: "微软雅黑";
   font-size: 15px;
   text-align: center;
}
.rightarea ul li h3{
   font-weight: normal;	
}
.rightarea ul li p{
   color: #ff7300;
   margin-bottom: 20px;
}
.rightarea .sm{
	width: 170px;
	height: 75px;
	border-top:  1px solid #999;
	border-left: 1px solid #999;
	margin-left: -1px;
	padding: 15px;
	padding-top: 40px;
}
.rightarea .sm p{
	font-size: 12px;
	margin-bottom: 0;
}
/*底部*/
.bottom{
	width: 100%;
	height: 120px;
	background: #d4d4d4;
	margin-top: 40px;
	padding: 55px 0;
	text-align: center;
	line-height: 20px
}
.brands{
	width: 600px;
	margin:0 auto;
}
.brands img{
	margin: 20px 5px;
}
/*产品分类页*/
.main{
	margin-top: 16px;

	font-family:"宋体";
}
/*侧栏*/
.side{
	width: 182px;
	background: #f3f3f3;
	border: 1px solid #ccc;
}
.side h3{
	line-height: 34px;
	border-bottom: 1px solid #999;
	text-align: center;
}
.side .in{
	padding:0 20px;
}
.side .line{
	width: 142px;
	line-height: 24px;	
	border-bottom: 1px solid #ccc;	
	padding:0 20px;
}
.side .line:last-child{
	border-bottom: none;
}
/*产品分类内容开始*/
.content{
	width: 810px;
	margin-left: 190px;
	font-family: "宋体";
	font-size: 12px;
		line-height: 20px;
}
.content .banner{
	margin-left: 0;
}
.pro-content h3{
	
	margin-bottom: 10px;
}
.pro-content p{
	padding: 0 5px;
}
.pro-content h5{
	color: #e36095;
	padding: 0 6px;
}
.pro-content i{
	width: 15px;
	height: 15px;
	display: inline-block;
	background: url(../img/icon/xing.gif) no-repeat bottom;
}
.pro-content small{
	color: #2785E6;
}
.pro-content ul li{
	width: 170px;
	height: 270px;
	display: inline-block;
	padding: 0 16px;
}
.pro-top li{
	border-top: #ddd solid 2px;
	transition: all .4s ease;
}
.pro-top li:hover{
	border-top: #1D7AD9 solid 2px;
}
/*产品分类页结束*/
/*产品筛选页开始*/
  /*侧栏商品*/
.side-pro{
 	width: 142px;
	line-height: 14px;	
	background:#fff ;	
	padding:0 20px;
 }
 .side-pro ul li{
 	padding: 10px 0;
 }
.side-pro p{
 	padding: 4px 0;
}
.side-pro small{
	color: #000;
}
  /*主要商品列表*/
.content-list{
	padding: 4px 0;
	width: 830px;
	border-bottom: 1px solid #999;
}
.content-list .content-tit{
	width: 80px;
}
.content-list ul{
	width: 108px;
	margin-left:20px ;
    text-align: center;
}
.content-list ul li a{
	color:#1D7AD9 ;
}
.content-list span{
	width: 30px;
	height: 20px;
	margin: 0 40px;
    line-height: 20px;
    text-align: center;
	display:inline-block;
	background: #1369C0;
	color: #fff;
}
.content-list i{
	width: 10px;
	height: 10px;
	display: inline-block;
	background: url(../img/icon/sj_grey.gif) no-repeat bottom;
}
.content-list .selectcase{
	width: 110px;
	border: 1px #999 solid;
	margin-left: 20px;
}
  /*主要商品内容*/
.content-pro{
	width: 820px;
	height: 700px;
	line-height: 30px;
}
.conten-pro-tit{
	height:30px;
	width: 820px;
	margin-top: 20px;
	padding: 0 4px;
	background: #f5f5f5;
	border: 1px #999 solid;
}
.conten-pro-tit select{
	width: 110px;
	border: 1px #ccc solid;
	background: #fff;
	height: 24px;
	margin-left: 20px;
}
.conten-pro strong{
	color: #f5110f;
}
.content-pros ul li{
	display: inline-block;
	margin: 10px 30px;
}
/*登陆界面*/
.logo h1{
    color: #fff;
    margin-left: 20px;
    line-height: 70px;
}
.register-case{
    width: 336px;
    height: 280px;
    padding: 40px 84px;
    border: 1px #ddd solid;
    margin: 20px auto;
    line-height: 30px;
}
.register-case .input{
    width: 300px;
    height: 30px;
    border: 1px #ccc solid;
}
.input input{
    width: 270px;
    height: 30px;
}
.register-case i{
width: 15px;
height: 15px;
display: inline-block;
background: url(../img/icon/user_icon.jpg) no-repeat;
background-size:cover;
}
.pass i{
width: 25px;
height: 25px;
background: url(../img/icon/lock.jpg) no-repeat;
}
.reg-qus{
height: 20px;
padding-right: 30px;
}
.reg-button,
.join-button{
width: 300px;
height:40px;
border: 1px solid #ddd;
background-color: #ccc;
font-family: "微软雅黑";
font-size: 14px;
margin: 20px auto;
}
.join-button{
background-color: #7cbe56;
color:#fff;
}
/*注册页面*/
.join-case{
width: 630px;
height: 580px;
padding: 40px 84px;
    border: 1px #ddd solid;
    margin: 20px auto;
    line-height: 30px;
    font-family: "微软雅黑";
    font-size: 16px;
    color: #999;
}
.join-line{
margin: 20px 0;}
.join-line input{
   width: 300px;
    height: 30px;
    border: 1px #ccc solid;
}
.join-name{
width: 150px;
height: 50px;
margin-right: 20px;
}
.join-name strong{
margin-right:10px;
color: #F5110F;
}
.join-case .checkbox{
margin: 20px 0 20px 100px;
}
.join{
width: 300px;
height:40px;
border: 1px solid #ddd;
background-color: #ccc;
font-family: "微软雅黑";
font-size: 14px;
margin: 20px 100px;
}
